from pathlib import Path
import sys
path = str(Path(Path(__file__).parent.absolute()).parent.absolute())
sys.path.insert(0, path)
import grpc
from common import service_pb2
from common import service_pb2_grpc

{% for svc in called_svc %}
def {{ svc.service }}_{{ svc.endpoint }}_client():
    with grpc.insecure_channel('{{ svc.service }}:{{ svc.port }}') as channel:
        stub = service_pb2_grpc.{{ svc.service }}Stub(channel)
        response = stub.{{ svc.endpoint }}(service_pb2.Request(data='you'))
{% endfor %}
